<!doctype html>
<title>memcache | IIT CS553 Homework 3</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div id=page>
    
    <div class=message>{{ session.msg }}</div>
    <div id=header class=bodies>
        <div id=fileuploader>
            <form method=POST action={{ session.upload_url }} enctype=multipart/form-data>
                <div class=txt1>Upload a file...</div>
                <div class=txt2><input type=file name=uf size=40 /></div>
                <div class=txt3><input type=submit value="Fire!"/></div>
                <div>Files larger than 30MB can only upload by client.<br />It should be upload by '/big_insert' request bundle.</div>
            </form>
        </div>
    </div>
    <div id=wrapper class=bodies>
    {% if session.nofiles %}
        <div id=filecheck>
            <form method=GET action=check>
                <div class=txt1>Check a file...</div>
                <div class=txt2><input type=text name=cf /></div>
                <div class=txt3><input type=submit value='Check!' /></div>
            </form>
        </div>
    {% else %}
        <ul id=filelist>
            {% for f in session.files %}
            <li class=entry>
                <div class=entry-main><a href={{ '/f/' + f['name'] }}>{{ f['name'] }}</a></div>
                <div class='entry-info delete'><a href={{ '/f/' + f['name'] }}>delete</a></div>
                <div class=entry-info>{{ f['size_string'] }}</div>
                <div class=clear></div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div class=bodies>
        <div id=filedelete>
            <form method=GET action=find>
                <div class=txt1>Find a file...</div>
                <div class=txt2><input type=text name=ff /></div>
                <div class=txt3><input type=submit value='Get!' /></div>
            </form>
        </div>
    </div>
    <div class=bodies>
        <div id=filedelete>
            <form method=POST action=remove>
                <div class=txt1>Delete a file...</div>
                <div class=txt2><input type=text name=df /></div>
                <div class=txt3><input type=submit value='Throw!' /></div>
            </form>
        </div>
    </div>
    <div id=footer>
        <div class='txt1 normal-btn'><a class=btn href='/filelist'>list all files</a></div>
        <br/><br/><br/>
        <div class='txt1 normal-btn'><a class=btn href='/memcache/on'>open memcache</a></div>
        <div class='txt1 normal-btn'><a class=btn href='/memcache/off'>close memcache</a></div>
        <br/><br/><br/>
        <div class='txt1 normal-btn'><a class=btn href='/removeall'>remove all files and cache</a></div>
        <div class='txt1 normal-btn'><a class=btn href='/removeallcache'>remove all cache</a></div>
    </div>
</div> 