<!doctype html>
<title>memcache file list | IIT CS553 Homework 3</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div id=page>
    <div id=wrapper>
        <ul id=filelist>
            {% for f in session.files %}
            <li class=entry>
                <div class=entry-main><a href={{ '/find/' + f['uri_name'] }}>{{ f['name'] }}</a></div>
                <div class='entry-info delete'><a href={{ '/remove/' + f['uri_name'] }}>delete</a></div>
                <div class=entry-info2 style="{{ f['hidden'] }}">cached</div>
                <div class=entry-info>{{ f['size_string'] }}</div>
                <div class=clear></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>