<!doctype html>
<title>memcache | IIT CS553 Homework 3</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div id=header>
    <div id=fileuploader>
        <form method=POST action=insert enctype=multipart/form-data>
            <div id=fu-txt1>Upload a file...</div>
            <div id=fu-txt2><input type=file name=uf /></div>
            <div id=fu-txt3><input type=submit value="Fire!"/></div>
        </form>
    </div>
</div>