#page { width: 800px; margin: 0 auto; }

#header { width: 100%; padding: 32px 0 20px 0; text-align: center; border-bottom: 1px dashed #ccc;}
.txt1 { font-size: 240%; font-family: Serif;}
.txt2 input { font-family: Serif; margin: 20px 0; border: solid 1px #ccc; width: 600px; height: 24px; line-height: 24px; vertical-align: center;}
.txt3 input { font-family: Serif; width: 200px; height: 32px; border: solid 1px #ccc; border-radius: 4px; background-color: #fff; font-size: 125%; font-weight: bold;}
.txt3 { margin: 0 0 12px 0;}
.txt3 input:hover { border: solid 1px #999; background-color: #eee; }


#wrapper { width: 100%; padding: 20px 0; text-align: center; border-bottom: 1px dashed #ccc; }
#filelist { width: 800px; margin: 0 auto; color: Black; }
.entry { list-style: none; padding: 8px 0; }
.entry-main { float: left; font-size: 160%;  height: 30px; line-height: 30px;}
.entry-info { float: right; font-size: 100%; color: gray; height: 30px; line-height: 30px; }
.entry-info2 { float: right; font-family: Courier New; font-size: 75%; color: green; height: 30px; line-height: 30px; border: 1px solid #ccc; border-radius: 2px; background-color: #eee; padding: 0 4px; margin: 0 0 0 8px;}
.delete { margin: 0 0 0 8px; }
.clear { clear: both;}
.message { font-size: 120%; text-align: center; width: 100%; color: red;}

#footer { width: 100%; padding: 20px 0; text-align: center; }

a { text-decoration: none; color: Black; }
a:hover { color: SteelBlue; }

.bodies { width: 100%; text-align: center; border-bottom: 1px dashed #ccc;}
a.btn { border: 1px solid #ccc; border-radius: 4px; padding: 8px; font-size: 80%; }
.normal-btn { margin: 10px auto; }